.listItems{
    list-style: none;
    font-family: 'Poppins';
    font-weight: 400;
    color: #497174;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 18px;
    line-height: 18/16;
}
.item span{
    margin-right: 10px;
}